////////////////////////////////////////////////////////////////////////////////
// Colours
////////////////////////////////////////////////////////////////////////////////

$bg-color: #333333;
$clock-font-size:2em;
$font-color: white;

////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////

// Oswald
@font-face {
  font-family: "Oswald";
  src: url("../fonts/Oswald/Oswald-Regular.ttf")
}

////////////////////////////////////////////////////////////////////////////////
// Body
////////////////////////////////////////////////////////////////////////////////

body {
  background-color: $bg-color;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// Special classes
////////////////////////////////////////////////////////////////////////////////

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

.middle {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.text-center {
  text-align: center;
}

.hidden {
  visibility: hidden;
}

////////////////////////////////////////////////////////////////////////////////
// Main styles
////////////////////////////////////////////////////////////////////////////////

#app-container {
  width: 99vw;
  height: 99vh;

  margin: auto;
}

#app-title {
  font-size: 5vmax;
}

#app-clock {
  border: solid 10px white;
  width: 65vmin;
  height: 65vmin;
  border-radius: 100%;
  cursor: pointer;

  .container-clockdisplay {
    font-size: 10vmin;
  }
}

#app-controls {
  position: absolute;
  bottom: 0;
  left: 0;

  display: table;
  width: 100%;

  .control {
    display: table-cell;
    width: 33.33%;
    vertical-align: middle;
    font-size: 2vmax;

    .container-control {
      display: table;
      width: 100%;

      .minus {
        display: table-cell;
        width: 33.33%;

        text-align: right;
        vertical-align: middle;

        font-family: monospace;
        font-size: 7vmax;

        cursor: pointer;
      };

      .info {
        display: table;
        width: 100%;
        font-size: 1em;
      };

      .plus {
        display: table-cell;
        width: 33.33%;

        text-align: left;
        vertical-align: middle;

        font-family: monospace;
        font-size: 7vmax;

        cursor: pointer;
      };
    }
  }

}

.btn-slidemenu:hover {
  background-color: #FFFFFF;
  color: #333333;

}
