////////////////////////////////////////////////////////////////////////////////
// Colours
////////////////////////////////////////////////////////////////////////////////

$bg-color: #333333; //DA4453
$clock-font-size:2em;
$font-color: white;

body {
  background-color: $bg-color;
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
  font-size: 100%;
}

////////////////////////////////////////////////////////////////////////////////
// Font paths
////////////////////////////////////////////////////////////////////////////////
$font-path: "../fonts/";

////////////////////////////////////////////////////////////////////////////////
// Fonts
////////////////////////////////////////////////////////////////////////////////

// Oswald
@font-face {
  font-family: "Oswald";
  src: url($font-path + "Oswald/Oswald-Regular.ttf")
}

// Disable text selection/highlighting.
.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

// Centre in the middle of container (vertical and horizotal).
.middle {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// Hide an element.
.hidden { visibility: hidden; };

#app-container {
  position: absolute;
  width: 100%;

  // Controls container.
  .controls {

    text-align: center;
    font-size: 2em;
    margin-bottom: 0px;

    // Session controls.
    .duration {
      display: inline-block;
      margin-right: 100px;
    }

    // Break controls
    .break {
      display: inline-block;
      margin-left: 100px;
    }

    // Left/Right buttons.
    .minus, .plus {
      padding-left: 25px;
      padding-right: 25px;

      cursor: hand;
    }
  }

  // Clock container.
  .clock {

    // Cursor.
    cursor: hand;

    // Font size
    font-size: 3em;

    // Size
    position: relative;
    width:  550px;
    height: 550px;

    // Background
    background-color: $bg-color;

    // Centre the clock.
    margin: 0 auto;

    // Centre the display.
    text-align: center;

    // Border
    border: solid 20px $font-color;
    border-radius: 100%;

  }
}

.container-clockdisplay {
  position: absolute;
}

#instructions {
  margin-top: 15px;
  font-size: 2em;
  text-align: center;
}
