$bg-color: #333333; //DA4453
$font-color: #FFFFFF;
$clock-font-size:2em;

body {
  background-color: $bg-color;
  color: $font-color;
  font-family: Helvetica;
  font-size: 100%;
}

// Centre in the middle of container (vertical and horizotal).
.middle {

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hidden {
  visibility: hidden;
}

#app-container {
  position: absolute;
  width: 100%;

  .controls {
    margin-bottom: 25px;
    text-align: center;

    font-size: 2em;

    .duration, .break {
      display: inline-block;
      width: 15%;

      button { font-size: 1em; };
    }
  }

  .clock {

    // Size
    position: relative;
    width:  550px;
    height: 550px;

    // Background
    background-color: $bg-color;

    // Centre the clock.
    margin: 0 auto;

    // Centre the display.
    text-align: center;

    // Border
    border: solid 20px $font-color;
    border-radius: 100%;


    .display, .mode {

      // Font size.
      font-size: $clock-font-size;
    }

  }
}


.container-clockdisplay {
  position: absolute;
}
